<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @article.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Like:</strong>
  <%= @article.like %>
</p>

<p>
  <strong>Click:</strong>
  <%= @article.click %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
